@import url(https://fonts.googleapis.com/css2?family=Overpass&display=swap);

%hoverShadow {
    &:hover {
        box-shadow: 5px 5px 8px 0px rgb(230, 230, 230);
    }
}

body {
    font-family: 'Overpass', sans-serif;
    display: grid;
    grid-template-areas: "header" "body" "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;

    @import "headerFooter.scss";

    .bodyShow {
        @extend %leftRightM;
        margin-top: 20px;
        margin-bottom: 50px;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 45px;
        grid-auto-rows: minmax(190px, 190px);
        >div {
            padding-bottom: 50px;
            padding-top: 20px;
            font-size: 20px;
            border: 1px solid rgb(201, 201, 201);
            min-height: 290px;
            input {
                margin-left: 20px;
            }
            div {
                text-align: center;
            }
            @extend %hoverShadow;
        }
    }
    .bodyAdd {
        .error {
            display: none;
            color: red;
        }
        @extend %leftRightM;
        margin-top: 30px;
        margin-bottom: 50px;
        padding: 10px;
        font-size: 18px;
        input, select {
            margin: 10px;
            margin-left: 10px;
            @extend %hoverShadow;
        }
    }

    .dataInput {
        padding: 10px;
        font-size: 18px;
        display: grid;
        align-items: center;
        text-align: center;
        width: 280px;
        margin: 30px auto 50px;
        input {
            padding: 6px;
            font-size: 16px;
            text-align: center;
        }
        button {
            margin: auto;
            padding: 6px;
            font-size: 16px;
            text-align: center;
            width: 50%;
            background-color: #ffffff;
            box-shadow: 3px 3px 4px 0px #cccccc;
            &:hover {
                background-color: #f0f0f0;
        }
        }
    }
}